@import '../../../../styles.css';

.navHeader{
  background-color: white;
  position: fixed;
  z-index: 10;
  top:0;
  left:0;
  width:100%;
  border-bottom: 2px solid black;
}
.imgSideNav{
  width: 100%;
  display: inline-block;
  margin: auto;
  position: absolute;
  z-index: -1;
  top:0;
  left:0;
}

.imgOnImg{
  width: 60%;
  display: inline-block;
  margin: auto;
  top:100px;
  left: 50px;
  border-radius: 50%;
  position: absolute;
}

.navHeader h1 {
  display: inline-block;
  margin-left: 25px;
}
.links {
  margin-top: 20px;
}

.contact{
  margin-top: 200px;
  text-align: center;
}

.contact h2{
  font-weight: bold;
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: white;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  border-right: var(--app-background-color);
  border-right-style: groove;
  border-right-width: 0;
}

.openSideNav {
  position: fixed;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-top: 20px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 50px;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 36px;
  transition: 0.3s;
  color: rgb(116, 238, 111);
}

.openbtn {
  margin-left: 50px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 36px;
  transition: 0.3s;

}

.openbtn:hover {
  color: #f1f1f1;
}

.sidenav .closebtn:hover{
  color:#f1f1f1;
  transition: 0.3s;
}

.is-phone-portrait{
  font-size: 0.80rem;
}

.sidenav a.is-phone-portrait {
  padding: 0;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-top: 20px;
  text-align: center;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar-bottom {
  background-color: #333;
  overflow: visible;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

/* Style the links inside the navigation bar */
.navbar-bottom a, .navbar-bottom .dropbtn {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 12px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

/* Change the color of links on hover */
.navbar-bottom a:hover, .navbar-bottom .dropbtn:hover {
  background-color: #ddd;
  color: black;
}

/* Dropdown container */
.dropdown-contact {
  float: left;
  overflow: visible;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  position: absolute;
  bottom: 100%; /* Position it above the button */
  background-color: #444;
  min-width: 160px;
  box-shadow: 0px -8px 16px 0px rgba(0,0,0,0.2);
  z-index: 11;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
}

/* Links/buttons inside the dropdown */
.dropdown-content button {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #555;
}

.dropdown-content button:last-child {
  border-bottom: none;
}

.dropdown-content button:hover {
  background-color: #555;
}

/* Add a color to the active/current link */
.navbar-bottom a.active {
  background-color: #04AA6D;
  color: white;
}
