button{
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border: none;
  transition: 0.5s;
  background-color: var(--app-background-color);
}

button:hover{
  color: rgb(6, 185, 6);
}

button:active{
  filter: brightness(85%);
  -webkit-box-shadow: inset 0px 0px 5px #244e28;
     -moz-box-shadow: inset 0px 0px 5px #244e28;
          box-shadow: inset 0px 0px 5px #244e28;
   outline: none;
}