.card-block {
  max-width: 100%;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: transform 0.2s;
  border: 1px solid #eee;
}

.card-block:hover {
  transform: scale(1.02);
}

.card-header {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.card-title {
  color: var(--primary-color);
  font-weight: 500;
  margin: 0;
}

.card-subtitle {
  color: var(--accent-color);
  font-size: 0.9rem;
}

mat-card-content {
  padding: 16px;
  flex-grow: 1;
}

p {
  text-align: justify;
  margin-bottom: 8px;
  font-size: 0.95rem;
  color: #555;
}
