
.card-block {
  max-width: 400px;
  margin-right: 20px;
  height: 100%;
  margin-top: 5px;
}

.card-header {
  background-size: cover;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 10;
}
.card-subtitle,
.card-title{
  position: relative;
  overflow-wrap: break-word;
  width: 150px;
  left: 50px;
}

p{
  text-align: justify;
}