@import "../../styles.css";
@import "../home/home.css";

.card-block {
  max-width: 100px;
  margin-right: 20px;
  height: 100%;
  margin-top: 5px;
}

.card-header {
  background-image: url("https://material.angular.dev/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.mat-tab {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.mat-tab.is-phone-portrait {
  max-height: none;
  align-items: center;
}

.mat-tab-elm {
  width: 400px;
}

p {
  text-align: justify;
}

.filter-box{
  margin: auto;
  padding: 10px;
  text-align: center;
}

.filter-box button{
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border: none;
  transition: 0.5s;
  background-color: var(--app-background-color);
}

.filter-box button:hover{
  color: rgb(6, 185, 6);
}