@import "../../styles.css";
@import "../home/home.css";

.card-block {
  max-width: 100px;
  margin-right: 20px;
  height: 100%;
  margin-top: 5px;
}

.card-header {
  background-image: url("https://material.angular.dev/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.mat-tab {
  height: auto;
  max-height: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.mat-tab.is-phone-portrait {
  max-height: none;
  align-items: center;
}

.mat-tab-elm {
  width: 400px;
}

p {
  text-align: justify;
}
