button {
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid var(--accent-color);
  background-color: white;
  color: var(--accent-color);
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 500;
  margin: 5px;
}

button:hover {
  background-color: var(--accent-color);
  color: white;
}

button:active {
  transform: scale(0.95);
}
