@import '../../styles.css';

.navHeader{
  background-color: white;
  position: fixed;
  z-index: 1;
  top:0px;
  left:0px;
  width:100%;
  border-bottom: 2px solid black;
}
.imgSideNav{
  width: 100%;
  display: inline-block;
  margin: auto;
  position: absolute;
  z-index: -1;
  top:0px;
  left:0px;
}

.imgOnImg{
  width: 60%;
  display: inline-block;
  margin: auto;
  top:100px;
  left: 50px;
  border-radius: 50%;
  position: absolute;
}

.navHeader h1 {
  display: inline-block;
  margin-left: 25px;
}
.links {
  margin-top: 200px;
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: white;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  border-right: var(--app-background-color);
  border-right-style: groove;
  border-right-width: -5px;
}

.openSideNav {
  position: fixed;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-top: 20px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  margin-left: 50px;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 36px;
  transition: 0.3s;
  color: rgb(116, 238, 111);
}

.openbtn {
  margin-left: 50px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 36px;
  transition: 0.3s;

}

.openbtn:hover {
  color: #f1f1f1;
}

.sidenav .closebtn:hover{
  color:#f1f1f1;
  transition: 0.3s;
}