/* You can add global styles to this file, and also import other style files */
:root {
    --app-background-color: #abd3be;
    --app-main-color: #abd3be;
    --app-second-color: #ddf9ea;
    --app-main-font-size: 14px;
}

body {
    background-color: var(--app-background-color);
}

.main {
    background-color: white;
    width: 98%;
    height: auto;
    position: absolute;
    /* Stay on top */
    top: 120px;
    /* Stay at the top */
    left: 20px;
    box-shadow:
        0.3em 0.3em 1em rgba(0, 0, 0, 0.6);
}

.section {
    background-color: var(--app-second-color);
    margin: 10px;

}

.titleArticle {
    text-align: center;
}


.bigSeparator {
    border: 2px solid #858585;
    width: 70%;
}

.littleSeparator {
    border: 2px solid #858585;
    width: 20%;
    margin-top: 40px;
    margin-bottom: 40px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}