@import "../../styles.css";

.card {
  display: inline-flex;
}

.right {
  justify-content: center;
  align-items: center;
  display: flex;
}

.right img {
  max-width: 500px;
  display: block;
  margin: auto;
}

.left {
  padding-left: 100px;
  padding-right: 100px;
  font-size: 30px;
}

