@import "../../styles.css";

.card {
  display: inline-flex;
  width: auto;
}

.card.is-phone-portrait {
  display: block;
}
.card .right {
  justify-content: center;
  align-items: center;
  display: flex;
}

.left img {
  display: block;
  justify-content: center;
  align-items: center;
  display: flex;
}
.right img {
  max-width: 500px;
  display: block;
}
.right-text{
  padding-left: 100px;
  padding-right: 100px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.right-text.is-phone-portrait
{
  text-align: center;
}
.left-text {
  padding-left: 100px;
  padding-right: 100px;
  font-size: 30px;
}
.left {
  justify-content: center;
  align-items: center;
  display: flex;
}

.left-text.is-phone-portrait {
  padding-left: 0px;
  padding-right: 0px;
  font-size: 15px;
  text-align: justify;
  padding: 1px;
}
.left img.is-phone-portrait,
.right img.is-phone-portrait {
  max-width: 250px;
}

.card-horizontal{
  display: inline-flex;
  width: auto;
  margin: 10px;  
}

.card-horizontal.is-phone-portrait{
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;

}

.card-section{
  align-items: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}